customer-create.component.html
<h2>Create Customer</h2>
<form (submit)="createCustomer()">
  <label for="firstName">Customer Id:</label>
  <input type="text" id="firstName" name="customerId" [(ngModel)]="newCustomer.customerId" required>
  <label for="firstName">First Name:</label>
  <input type="text" id="firstName" name="firstName" [(ngModel)]="newCustomer.firstName" required>
  <label for="lastName">Last Name:</label>
  <input type="text" id="lastName" name="lastName" [(ngModel)]="newCustomer.lastName" required>
  <button type="submit">Create</button>
</form>
