<!-- customer-list.component.html -->
<h2>Customer List</h2>
<table>
  <tr>
    <th>ID</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let customer of customers">
    <td>{{ customer.id }}</td>
    <td>{{ customer.firstName }}</td>
    <td>{{ customer.lastName }}</td>
    <td>
      <a [routerLink]="['/edit', customer.id, customer.customerId]" class="btn">Edit</a> |
      <a [routerLink]="['/edit', customer.id, customer.customerId]" class="btn">Delete</a>

    </td>
  </tr>
</table>
<a routerLink="/create">Create Customer</a>
